Source: libclass-tangram-perl
Section: interpreters
Priority: optional
Build-Depends: debhelper (>= 3.0.5), perl (>= 5.6.0-17), libtest-simple-perl (>= 0.41-1)
Maintainer: Sam Vilain <sam@vilain.net>
Standards-Version: 3.5.1

Package: libclass-tangram-perl
Architecture: all
Depends: ${perl:Depends}, libset-object-perl (>= 1.04), libdate-manip-perl (>= 5.40)
Description:  create constructors, accessor and update methods for
 Class::Tangram using a Tangram compatible object specification.
